body{
  color:rgb(0, 0, 117);
  background-color:azure;
}

h1, h2{
  color:cadetblue;
}

h1{
  font-size: 40px;
}

h2{
  color:darkgreen;
  font-size:2px;
}

p{
  color: rgb(0, 226, 0);
  font-size: 12px;
}

.centretext{
  text-align: center;
}

/* for use with class="a_class_name" in a tag  */
.aclassname{
  color:aqua;
}
/* for use with id="an_id_name" in a tag */
#anidname{
  color:burlywood;
}

#maintitle{
  color:brown;
  text-decoration: underline;
}

/* for use only with <a> tags with an id="navbar_a" */
#navbar a{
  color:darkred;
}

/* for all <a in all <nav */
nav a{
  color:dodgerblue;
}

/* where <nav is the direct parent of <a's */
/* nav>a {} */

/* applies to an <a but only when it is being hovered over*/
/* a:hover {} */

.content {
  /* width:400px; */
  /* width:40%;    40% of parent*/
  /* width:40vw;  40% of the viewport (the browser client area) */
}