body {
  background-color: rgb(51, 51, 51);
  color: rgb(212, 212, 212) 
}

/*.desktop, .mobile {*/
.desktop {  
  display: none;
}

@media (orientation: landscape){
  .desktop {
    /* display: inline-block; */
    display: block;
  }
  .mobile {
    display: none;
  }

  body {
    color: rgb(51, 51, 51);
    background-color: rgb(212, 212, 212) 
  }
}


